#nav {
Z-INDEX: 500; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 37px; LIST-STYLE-IMAGE: none; PADDING-TOP: 5px
}
#nav LI.top {
DISPLAY: block; FLOAT: left; HEIGHT: 27px;
}
/* 一阶导航 */
#nav LI A.top_link {
PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; HEIGHT: 37px; FONT-SIZE: 20px; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#nav LI A.top_link SPAN {
PADDING-BOTTOM: 0px; WIDTH: 90px; DISPLAY: block; text-align:center; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#nav LI A.top_link SPAN.down {
PADDING-BOTTOM: 0px; WIDTH: 80px; DISPLAY: block; text-align:center; BACKGROUND: url(images/three1.gif) no-repeat right; FLOAT: left; HEIGHT: 37px; PADDING-TOP: 0px
}
#nav LI:hover A.top_link {
background-color:#548bcf; color:#fff2ee;
}
#nav LI:hover A.top_link SPAN {
background-color:#548bcf; color:#fff2ee;
}
#nav LI:hover A.top_link SPAN.down {
background-color:#548bcf; color:#fff2ee;BACKGROUND: url(images/three1a.gif) no-repeat right;
}
#nav LI:hover {
Z-INDEX: 200; POSITION: relative
}
#nav LI:hover UL.sub {
Z-INDEX: 270; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: #e1ecf6; HEIGHT: auto; BORDER-TOP: #ddd 1px solid; TOP: 37px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px; LEFT: 1px
}
/* 二级导航 */
#nav LI:hover UL.sub LI {
POSITION: relative; WIDTH: 150px; DISPLAY: block; FLOAT: left; HEIGHT: 29px; FONT-WEIGHT: normal
}
#nav LI:hover UL.sub LI A {
BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 19px; TEXT-INDENT: 5px; WIDTH: 150px; DISPLAY: block; HEIGHT: 29px; COLOR: #000; FONT-SIZE: 16px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; TEXT-DECORATION: none
}
#nav LI UL.sub LI A.fly {
BACKGROUND: url(images/arrow.gif) #e1ecf6 no-repeat left center
}
#nav LI:hover UL.sub LI A:hover {
BACKGROUND: url(images/subli_bg.gif) #548bcf repeat-x center center; COLOR: #fff; 
}
#nav LI:hover UL.sub LI A.fly:hover {
BACKGROUND: url(images/arrow_over.gif) #548bcf no-repeat left center; COLOR: #fff
}
#nav LI:hover LI:hover UL {
Z-INDEX: 400; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: #e1ecf6; HEIGHT: auto; BORDER-TOP: #ddd 1px solid; TOP: -1px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px; LEFT: 144px
}
#nav LI:hover LI:hover LI:hover UL {
Z-INDEX: 400; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: #e1ecf6; HEIGHT: auto; BORDER-TOP: #ddd 1px solid; TOP: -1px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px; LEFT: 144px
}
#nav LI:hover LI:hover LI:hover LI:hover UL {
Z-INDEX: 400; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: #e1ecf6; HEIGHT: auto; BORDER-TOP: #ddd 1px solid; TOP: -1px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px; LEFT: 144px
}
#nav LI:hover LI:hover LI:hover LI:hover LI:hover UL {
Z-INDEX: 400; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; BACKGROUND: #e1ecf6; HEIGHT: auto; BORDER-TOP: #ddd 1px solid; TOP: -1px; BORDER-RIGHT: #ddd 1px solid; PADDING-TOP: 0px; LEFT: 144px
}
#nav UL {
POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; TOP: -9999px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: -9999px
}
#nav LI:hover UL UL {
POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; TOP: -9999px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: -9999px
}
#nav LI:hover LI:hover UL UL {
POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; TOP: -9999px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: -9999px
}
#nav LI:hover LI:hover LI:hover UL UL {
POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; TOP: -9999px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: -9999px
}
#nav LI:hover LI:hover LI:hover LI:hover UL UL {
POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; TOP: -9999px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: -9999px
}
#nav LI:hover LI:hover A.fly {
BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BACKGROUND: url(images/arrow_over.gif) #548bcf no-repeat left center; COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; 
}
#nav LI:hover LI:hover LI:hover A.fly {
BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BACKGROUND: url(images/arrow_over.gif) #548bcf no-repeat left center; COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; 
}
#nav LI:hover LI:hover LI:hover LI:hover A.fly {
BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BACKGROUND: url(images/arrow_over.gif) #548bcf no-repeat left center; COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; 
}
#nav LI:hover LI:hover LI:hover LI:hover LI:hover A.fly {
BORDER-BOTTOM-COLOR: #fff; BORDER-TOP-COLOR: #fff; BACKGROUND: url(images/arrow_over.gif) #548bcf no-repeat left center; COLOR: #fff; BORDER-RIGHT-COLOR: #fff; BORDER-LEFT-COLOR: #fff; 
}
#nav LI:hover LI:hover LI A.fly {
BORDER-BOTTOM-COLOR: #e1ecf6; BORDER-TOP-COLOR: #e1ecf6; BACKGROUND: url(images/arrow.gif) #e1ecf6 no-repeat left center; COLOR: #000; BORDER-RIGHT-COLOR: #e1ecf6; BORDER-LEFT-COLOR: #e1ecf6
}
#nav LI:hover LI:hover LI:hover LI A.fly {
BORDER-BOTTOM-COLOR: #e1ecf6; BORDER-TOP-COLOR: #e1ecf6; BACKGROUND: url(images/arrow.gif) #e1ecf6 no-repeat left center; COLOR: #000; BORDER-RIGHT-COLOR: #e1ecf6; BORDER-LEFT-COLOR: #e1ecf6
}
#nav LI:hover LI:hover LI:hover LI:hover LI A.fly {
BORDER-BOTTOM-COLOR: #e1ecf6; BORDER-TOP-COLOR: #e1ecf6; BACKGROUND: url(images/arrow.gif) #e1ecf6 no-repeat left center; COLOR: #000; BORDER-RIGHT-COLOR: #e1ecf6; BORDER-LEFT-COLOR: #e1ecf6
}
	
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
	}
	#iframe1{
		width: 42%;
		height: 37%;
		margin-left: 2%;
		position: relative;
	}
	#image{
		position: absolute;
		width: 95%;
		height:75%;
		border: 1px #808080 solid;
		overflow: auto;
		margin-left: 2%;
	}
	#selectPictrue{
		position: absolute;
		top: 83%;
		margin-left: 2%;
	}
	#iframe2{
		width: 42%;
		height: 37%;
		margin-left: 1%;
		position: relative;
	}
	#iframe1,#symbol1,#iframe4{
		float: left;
		display: inline-block;
		margin-top: 1%;
	}
	#iframe3{
		width: 42%;
		height: 37%;
		margin-left: 2%;
		position: relative;
	}
	#iframe4{
		width: 42%;
		height: 37%;
		margin-left: 1%;
		position: relative;
	}
	#iframe3,#symbol3,#iframe2{
		float: left;
		display: inline-block;
		margin-top: 1%;
	}
	#iframe3,#iframe2{
		margin-top: 0;
	}
	#iframe1,#iframe2,#iframe3,#I4contentt,#I4contentb{
		border: 1px #808080 solid;
	}
	#selectPictrue{
		margin-bottom: 10px;
	}
	#label{
		font-size: 18px;
	}
	#I4contentt{
		height: 44%;
		margin-top: 1%;
	}
	#I4contentb{
		height: 40%;
		margin-top: 4%;
	}
	#I4contentt,#I4contentb{
		margin-left:10px;
	}
	#ss{
		width: 60%;
		margin-left: 1%;
		margin-right: 2%;
		top: 20%;
	}
	#progress{
		position: absolute;
		width: 80%;
		height: 25px;
		margin-left: 1%;
		top: 32%;
	}
	#Fpicture{
		
		width: 30%;
		height: 75%;
		border: 1px #808080 solid;
		margin-left: 1%;
		margin-top: 0;
		overflow: auto;
	}
	#piq{
		position: absolute;
		width: 65%;
		height: 90%;
		border: 1px #808080 solid;
		top: 5%;
		margin-left: 33%;
	}
	#keep{
		position: absolute;
		top: 88%;
		left: 2%;
	}
	#I2contentl{
		position: absolute;
		width: 28%;
		height: 80%;
		border: 1px #808080 solid;
		margin-left: 1%;
		overflow: auto;
	}
	#selectIframe3{
		position: absolute;
		top: 90%;
		left: 1%;
		width: 28%;
	}
	#I2contentr{
		
		width: 68%;
		height: 80%;
		border: 1px #808080 solid;
		margin-left: 31%;
		
		overflow: auto;
	}
	#symbol1,#symbol2,#symbol3{
		width: 6%;
	}
	#symbol1,#symbol3{
		margin-left: 2%;
		margin-top: 5%;
	}
	#symbol2{
		margin-left: 25%;
	}

        #t1{

            position: absolute;
            left:40%;
            top:54%;
            margin-left:-200px;
            margin-top:-200px;
            /*border: 1px solid gray;*/
        }
        #n1{
            width: 700px;
            height: 400px;
        }
        #d1{
            width: 29%;
            height: 95%;
            border: 1px solid gray;
            float: left;
            overflow: auto;
        }
        #d2{
            width: 450px;
            height: 380px;
            border: 1px solid gray;
            float: left;
            overflow: auto;
        }
        #d3{
            float: left;
        }
        #n2{
           float: left;
		   width: 700px;
            margin-top: 10px;
        }
        #p1{
            width: 300px;
        }

/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}


    a:link {
	    color: black; /*未访问的链接颜色*/
    }
 
    a:visited {
	    color: black; /*已访问的链接颜色*/
    }
	a{text-decoration: none;} 
